body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #000000;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  
  backkground-color: #201f1f;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #000000;
}

h2 {
  text-align: center;

  color: #916565;
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

audio {
  margin: 0 auto;
  display: block;
}

iframe {
  text-align: center;
  width: 600px;
  height: 400px;
}

img {
  text-align: center;
  width: 600px;
  height: 700px;
}

.input-group {
  text-align: center;
}


.peta {
  text-align: center;
}

.photo {
  display: flex;
  width: max-content;
  gap: 1rem;
  animation: infinite-scroll 80s linear infinite
  
}

.horizontal-scroll {
  width: 100;
  overflow-x: scroll;
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg,#0000,#000 5% 95%,#0000);
  scrollbar-color: transparent transparent
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
  
}

@keyframes infinite-scroll {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}

@media only screen and (max-width: 1000px) {
  iframe {
    text-align: center;
    width: 350px;
    height: 300px;
  }

  img {
    width: 355px;
    height: 400px;

  }
}